@using Microsoft.AspNetCore.Http
@model MyFirstWebApp.Models.CashierViewModel


@section Scripts{
    <script>
         let model = @Json.Serialize(Model);
    </script>
    <script src="~/js/Cashiers.js" asp-append-version="true"></script>
}

@{
    ViewData["Title"] = "Index";
}


<form asp-action="Logout" asp-controller="Account" asp-anti-forgery="true">
    <div>
    <input type="submit" value="Выход" />
    </div>
</form>

<h1>Кассиры магазина @Context.Request.RouteValues["id"]</h1>

<p>
    <a asp-action="Create" asp-route-shopModelId="@Context.Request.RouteValues["id"]">Create New</a>

</p>
<div id="modDialog" class="modal fade" >
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<table class="table editable" id="cashiers-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CashierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopModelId) 
            </th>
             <th>
                @Html.DisplayNameFor(model => model.UserId) 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cashiers) {
        <tr class = "cashierItem" id= "@item.CashierId">
            <td  >
                
               @Html.DisplayFor(modelItem => item.CashierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.ShopModelId)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td >
                <a onclick="return true" asp-action="Edit" asp-route-id="@item.CashierId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CashierId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CashierId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

